{% extends "NoogaMainBundle:Profile:edit.html.twig" %}

{% block fos_user_content %}
<div id="id-message">{{ 'resetting.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</div>
{% endblock %}
