{% extends "NoogaMainBundle:Profile:edit.html.twig" %}

{% block fos_user_content %}
<div id="id-message">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</div>
{% endblock fos_user_content %}
