{% form_theme form "NoogaMainBundle:Form:form.html.twig" %}
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <table id="id-form">
        <tbody>
            <h2>Password Reset</h2><br /><br />
            {{ form_widget(form) }}
        </tbody>
    </table>
    <div>
        <input type="submit" class="form-submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
