{% form_theme form "NoogaMainBundle:Form:form.html.twig" %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <table id="id-form">
        <tbody>
            {{ form_widget(form) }}
        </tbody>
    </table>
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
